body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: auto;
}

.header {
    text-align: center;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    top: 25%;
}

.previewAvataar {
    margin: auto;
    width: 400px;
    height: 400px;
    border: solid 2px black;
    background-color: white;
}

.previewAvataar img {
    width: 400px;
    padding-top: 60px;
}

.previewAvataar h2 {
    text-align: center;
    padding-top: 60px;
}

.previewAvataar p {
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.bottom {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controlBtn {
    background-color: green;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    font-size: 22px;
}

#controlBtn:hover {
    cursor: pointer;
}

#resetBtn {
    background-color: gray;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    outline: none;
    font-size: 22px;
}

#resetBtn:hover {
    cursor: pointer;
}

.avataarLineup {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content:space-evenly;
    padding-top: 2px;
    width: 600px;
    height: auto;
    border: solid 2px black;
    background-color: lightgray;
}

.avataarLineup h2 {
    font-size: 100px;
    position: absolute;
    background-color: white;
    margin-top: -220px;
}

.avataarLineup input {
    width: 50px;
    outline: none;
    cursor: pointer;
    padding: 0px;
}